{% extends 'generic/base.html.twig' %}
{% block title %}Ajouter media{% endblock %}
{% block body %}
    {% if mediaType==1 %}
    <h1> Ajouter une image au trick: {{ trickName }}</h1>
    {% endif %}
    {% if mediaType==2 %}
        <h1> Ajouter une video au trick: {{ trickName }}</h1>
    {% endif %}
    <div class="container" id="media_creation">
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                {{ form_start(mediaForm) }}
                {% if mediaType==1 %}
                    <div class="form-group mb-4">
                        <label for="media_form_url" class="mb-2">Fichier:</label>
                        {{ form_widget(mediaForm.url,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-4">
                        <label for="media_form_isMain" class="mb-2">Image principale de la figure? (cochez si oui) </label>
                        {{ form_widget(mediaForm.isMain) }}
                    </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ajouter image</button>
                </div>
                {% endif %}
                {% if mediaType==2 %}
                    <div class="form-group mb-4">
                        <label for="media_form_url" class="mb-2">Url de la video:</label>
                        {{ form_widget(mediaForm.url,{'attr': {'class': 'form-control'}}) }}
                        <small id="purlHelpBlock" class="form-text text-muted">
                            L'url doit commencer par "https://www.youtube.com/watch?" ou "https://www.youtube.com/embed/"
                        </small>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Ajouter vidéo</button>
                    </div>
                {% endif %}
                {{ form_rest(mediaForm) }}
                {{ form_end(mediaForm) }}
            </div>
        </div>
    </div>
    <div class="container" id="trick_creation">
        <!-- Medias cards -->
        <div class="row d-flex justify-content-center">
            <div class="col-2">

            </div>
        </div>
    </div>

{% endblock %}

