<div class="container-fluid vh-100">
    {% if mainMediaUrl is defined and mainMediaUrl is not null %}
    <div class="row my-1 text-center d-flex align-baseline position-relative"
         style="height:90%;justify-content: center;align-items: center;background:url('{{ asset('uploads/images/') }}{{ mainMediaUrl }}') no-repeat center;background-size:100% auto;">
        {% else %}
        <div class="row my-1 text-center d-flex align-baseline position-relative"
             style="height:90%;justify-content: center;align-items: center;background:url('https://images.unsplash.com/photo-1418662589339-364ad47f98a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1464&q=80') no-repeat center;background-size:100%;">
            {% endif %}
            <p class="h1 text-secondary p-1 bg-white w-50">
                <!--if trick.name is defined, it means that we are on trick details or edition pages-->
                {% if trick.name is defined %}
                    {{ trick.name }}
                {% else %}
                    Snowtricks, maîtrisez vos figures favorites.
                {% endif %}
            </p>
            {% if app.user and trick.name is defined%}
                <a href="#medias_section" class="btn btn-primary position-absolute bottom-0 end-50 w-auto p-4 m-3"> <i
                            class="fas fa-arrow-down"></i> </a>
                <!-- Insert edit/delete buttons -->
                <div class="col-1 position-absolute top-0 end-0">
                    <div class="row mt-2">
                        {% if mainMediaId is defined and mainMediaId is not null %}
                        <div class="col-6 text-center text-white my-1">
                            <a class="btn btn-secondary text-center rounded"
                               href="{{ path('Media.update', {mediaId:mainMediaId}) }}"><i class="far fa-edit"></i></a>
                        </div>
                        <div class="col-6 text-center my-1">
                                <a class="btn btn-danger text-center rounded"
                                   href="{{ path('Media.delete', {mediaId:mainMediaId}) }}"><i
                                            class="far fa-trash-alt"></i></a>
                            {% else %}
                                <div class="col-6 text-center text-white my-1">
                                    <a class="btn btn-secondary text-center rounded"
                                       href="{{ path('Media.create',{trickId:trick.id,mediaType:1}) }}"><i class="far fa-edit"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>