
    {% for trick in tricks %}
        <div class="col-11 col-md-3 d-flex justify-content-center">
            <div class="card shadow w-100 my-2 align-self-stretch">
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="row d-flex justify-content-center m-auto">
                        <div class="card-img ">
                            {% if trick.id in mainMediasId %}
                                {% for media in mainMedias %}
                                    {% if media.trick.id==trick.id %}
                                        <img class="img-fluid rounded" alt="image principale de la figure"
                                             src="{{ asset('uploads/images/') }}{{ media.url }}">
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <img class="img-fluid rounded" alt="image principale de la figure"
                                     src="https://images.vexels.com/media/users/3/138249/isolated/lists/547f540b7088f1adcd50b17cc319a054-snowboarding-winter.png">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mt-2 border-top pt-2">
                        <div class="card-title d-flex justify-content-center">
                            <a class="text-center align-self-end"
                               href="{{ path('Trick.show', {trickId:trick.id}) }}">{{ trick.name }}</a>
                        </div>
                        {% if app.user %}
                            <div class="row text-white mt-1 align-items-center ">
                                <div class="col-6 text-center ">
                                    <a class="btn btn-secondary text-center rounded"
                                       href="{{ path('Trick.edit', {trickId:trick.id}) }}"><i
                                                class="far fa-edit"></i></a>
                                </div>
                                <div class="col-6 text-center ">
                                    <a class="btn btn-danger text-center rounded" data-bs-toggle="modal" data-bs-target="#confirmationModal{{ trick.id }}"><i
                                                class="far fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <!-- Modal -->
                            {% include "tricks/_trickDeletionModal.html.twig" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
