{% extends 'generic/base.html.twig' %}
{% block title %}Ajouter figure{% endblock %}
{% block body %}
    <div class="container" id="trick_creation">
        <div class="row d-flex justify-content-center">
                <div class="col-10">
                    {{ form_start(trickForm) }}
                    <div class="form-group mb-4">
                        <label for="trick_form_name" class="mb-3">Nom du trick:</label>
                        {{ form_widget(trickForm.name,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group mb-4">
                        <label for="trick_form_description" class="mb-3">Description:</label>
                        {{ form_widget(trickForm.description,{'attr': {'class': 'form-control','cols':'300'}}) }}
                    </div>
                    <div class="form-group mb-4">
                        <label for="trick_form_group" class="mb-3">Groupe du trick:</label>
                        {{ form_widget(trickForm.trickGroup,{'attr': {'class': 'form-control'}}) }}
                    </div>
                    {{ form_rest(trickForm) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Creer trick</button>
                    </div>
                    {{ form_end(trickForm) }}
                </div>
        </div>
    </div>
    <div class="container" id="trick_creation">
        <!-- Medias cards -->
        <div class="row d-flex justify-content-center">
            <div class="col-2">

            </div>
        </div>
    </div>

{% endblock %}

