{% extends 'generic/base.html.twig' %}
{% block title %}Modifier figure {% endblock %}
{% block body %}
    <!-- Trick hero section -->
    {% for media in medias %}
        {% if media.isMain %}
            <div class="container-fluid my-3 vh-100 text-center d-flex align-baseline position-relative"
                 style="justify-content: center;align-items: center;background:url('{{ asset('uploads/images/') }}{{ media.url }}') no-repeat;background-size:100% auto;">
                <p class="h1 text-secondary p-1 bg-white">{{ trick.name }}.</p>
                {% if app.user %}
                    <a href="#medias_section" class="btn btn-info position-absolute bottom-0 end-50"> <i
                                class="fas fa-arrow-down"></i> </a>
                    <!-- Insert edit/delete buttons -->
                    <div class="col-1 position-absolute top-0 end-0">
                        <div class="row mt-2">
                            <div class="col-6 text-center text-white my-1">
                                <a class="btn btn-secondary text-center rounded"
                                   href="{{ path('Media.update', {mediaId:media.id}) }}"><i class="far fa-edit"></i></a>
                            </div>
                            <div class="col-6 text-center my-1">
                                    <a class="btn btn-danger text-center rounded"
                                       href="{{ path('Media.delete', {mediaId:media.id}) }}"><i
                                                class="far fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
    {% include "media/_mediasOfOneTrick.html.twig" %}
    <!-- Modify trick description -->
    {% if app.user %}
        <div class="container mt-4 py-4">
            <div class="row d-flex justify-content-center">
                <div class="col-10">
                    {{ form_start(trickForm) }}
                    {{ form_row(trickForm.name) }}
                    {{ form_row(trickForm.description) }}
                    {{ form_row(trickForm.trickGroup) }}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Modifier trick</button>
                    </div>
                    {{ form_end(trickForm) }}
                </div>
            </div>
        </div>
        <!-- Delete trick button with confirmation modal -->
        <!-- Button trigger modal -->
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-3 text-center">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                    Supprimer la figure
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">Etes vous sur?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            {# <span aria-hidden="true">&times;</span> #}
                        </button>
                    </div>
                    <div class="modal-body">
                        Voulez vous vraiment supprimer cette figure? Cette action est irréversible.</br> Tous les
                        commentaires, photos et vidéos seront perdus!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Confirmer suppression</button>
                        <button type="button" class="btn btn-secondary">Ne pas supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

